.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    height: 100px;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

span{
    font-weight: bold;
    font-style: normal;
}